body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #404bbf;
}
input {
  font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
button {
  cursor: pointer;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #404bbf;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

/* Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  color: #4d5ae5;
}
span {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-item:first-child .menu-link {
  color: #404bbf;
}
.menu-item:first-child .menu-link::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  content: '';
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contact-info {
  display: flex;
  gap: 40px;
}
.contact-info .contact-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}
.contact-info .contact-link:hover,
.contact-info .contact-link:focus {
  color: #404bbf;
}

/* Hero section */
.hero-section {
  padding: 188px 0;
  text-align: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  display: inline-block;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  text-align: center;
  color: #ffffff;
}
.hero-section .order-service {
  font-family: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #ffffff;
}

/* Our benefits */
.benefits {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  display: flex;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
}
.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
  padding: 24px 0;
  fill: #2e2f42;
  margin-bottom: 8px;
}

.benefits-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Our team */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-member {
  padding: 32px 0;
}
.team-member-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}
.team-member-position {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #434455;
}
.team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icons-items {
  width: 40px;
  height: 40px;
}
.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
}
.social-media-team {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}

/* Portfolio */
.portfolio {
  padding: 120px 0;
}
.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  padding: 40px 32px;
  background: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}
.portfolio-box {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border: 1px solid #e7e9fc;
  border-top: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box:hover,
.portfolio-box:focus {
  border: 1px solid #f4f4fd;
}
.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  height: 72px;
  color: #f4f4fd;
}
.logo-text {
  margin-right: 120px;
}

.social-media-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}
.footer-icons {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}
.footer-icons-items {
  width: 40px;
  height: 40px;
}
.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f4f4fd;
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.media {
  display: inline-block;
  justify-content: column;
}
.page-footer .container {
  display: flex;
  align-items: baseline;
}
.subscribe-form {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: flex-end;
}
.subscribe-text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe-email {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-email::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-button {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #4d5ae5;
}
.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* Modal Window */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  padding-top: 80px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 74px 24px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: зі значенням 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background: none;
}
.modal-close-icon {
  fill: #2e2f42;
  outline: 1px solid rgba(0, 0, 0, 0.1);

  padding: 8px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-form-text {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.modal-inputs-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.modal-input-item {
  position: relative;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-item:hover,
.modal-input-item:focus {
  fill: #4d5ae5;
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}
.modal-input-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-area {
  padding-left: 38px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-comment {
  resize: none;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:hover,
.modal-comment:focus {
  border: 1px solid #4d5ae5;
}
.modal-comment::placeholder {
  color: #4d5ae5;
}
.modal-accept {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-accept-input {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
}
.modal-accept-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #f4f4fd;
  background-color: #404bbf;
  stroke-width: 1px;
  stroke: #404bbf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 3px;
  border-radius: 2px;
}
.modal-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}
.modal-send-button {
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
}
